<!DOCTYPE html>
<html ng-app="smartgridgame">
  <head>
    <link rel="stylesheet" type="text/css" href="styles/vendor/bootstrap.min.css" />
	 <link rel="stylesheet" type="text/css" href="styles/face.css" />
   <script src="js/vendor/jquery.min.js"></script>
   <script src="js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/vendor/angular.min.js"></script>
    <script type="text/javascript" src="js/vendor/angular-translate.min.js"></script>
    <script type="text/javascript" src="js/vendor/angular-translate-loader-static-files.min.js"></script>
    <script type="text/javascript" src="js/vendor/ui-bootstrap-0.11.0.min.js"></script>
    <script type="text/javascript" src="js/vendor/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers/taskTableController.js"></script>
    <script type="text/javascript" src="js/controllers/priceTableController.js"></script>
    <script type="text/javascript" src="js/controllers/statusController.js"></script>
    <script type="text/javascript" src="js/services/services.js"></script>
    <script type="text/javascript" src="js/services/appliancesService.js"></script>
  </head>
  <body>
    {{'HEADLINE' | translate}}
	<div ng-include="'./views/scoreArea.html'">
	</div>
	<div class="container-fluid">
		<div class ="row">
		<div class="col-md-3">
		<div ng-controller="taskTableController">
		<table class ="table table-condensed table-bordered">
			<thead>
				<tr>
					<th>{{tableActionHeadA}}</th>
					<th>{{tableActionHeadB}}</th>
				<tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in tableActionContent">
					<td>{{item}}</td>
					<td><button type="button" class="btn btn-primary btn" ng-click="open(item)">{{'PRESS' | translate}}</button></td>
				</tr>
			</tbody>
		</table>
		    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
		</div>
		</div>
		<div class="col-md-1"/>
		<div class="col-md-3">
			<table class="table table-condensed table-bordered" ng-controller="priceTableController">
				<thead>
					<tr>
						<th> {{tablePriceHeadA}} </th>
						<th> {{tablePriceHeadB}} </th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{tablePriceHighestPrice}}</td>
						<td>{{findHighestPrice() | currency}}</td>
					</tr>
					<tr ng-repeat="item in content.data"> 
						<td> {{item.name}} </td>
						<td> {{item.price | currency}} </td>
					</tr>
				</tbody>
			
			</table>
		</div>
		</div>
	</div>


<div>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">{{header}}</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a ng-click="selected.item = item">{{item}}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>
</body>
</html>
