<div ng-controller="applianceTableController">
	<table class ="table table-condensed table-bordered">
		<thead>
			<tr>
				<th>{{'tasktable.items' | translate}}</th>
				<th>{{'ACTIVATE' | translate}}</th>
				<th>{{'tasktable.time | translate'}}</th>
			<tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in appliances">
			<div>
				<td>
					{{item.name}}
				</td>
				<td>
					<button type="button" class="btn btn-primary" ng-click="openActionModal(item.name)">
						{{'PRESS' | translate}}
					</button>
				</td>
				<td>
					<div ng-controller="timeController">
						{{difference | time}} 
					</div>
				</td>
				</div>
			</tr>
		</tbody>
	</table>
</div>