<div ng-controller="applianceTableController">
	<table class ="table table-condensed table-bordered">
		<thead>
			<tr>
				<th>{{'applianceTable.name' | translate}}</th>
				<th>{{'applianceTable.deadline' | translate}}</th>
			<tr>
		</thead>
		<tbody>
			<tr ng-repeat="schedule in datesToSchedule">
			<div>
				<td>
					{{schedule.applianceName}}
				</td>
				<td>
					{{SecondsToDate(schedule.deadline) | date:'HH:mm, EEEE d MMMM yyyy'}}
				</td>
				</div>
			</tr>
		</tbody>
	</table>

	<table class ="table table-condensed table-bordered">
		<thead>
			<tr>
				<th>{{'applianceTable.items' | translate}}</th>
				<th>{{'applianceTable.activate' | translate}}</th>
				<th>{{'applianceTable.time' | translate}}</th>
			<tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in appliances">
			<div>
				<td>
					{{item.name}}
				</td>
				<td>
					<button type="button" class="btn btn-primary" ng-click="preOpen(item)">
						{{'applianceTable.PRESS' | translate}}
					</button>
				</td>
				<td>
					<div ng-controller="timeController">
						{{difference | time}} 
					</div>
				</td>
				</div>
			</tr>
		</tbody>
	</table>
</div>