<table class="table table-condensed table-bordered" ng-controller="billController">
	<thead>
		<tr>
			<th> {{ 'billTable.item' | translate}} </th>
			<th> {{ 'billTable.expense' | translate}} </th>
		</tr>
		<tr>
			
			<th> {{'billTable.totalBill' | translate}} </th>
			
			<th ng-if="totalBill() <= 0"><font color="red"> {{ totalBill() | currencyWithMinus}} </th>
			<th ng-if="totalBill() > 0"><font color="green"> {{ totalBill() | currencyWithMinus}} </th>
		</tr>

	</thead>
	<tbody>
		<tr ng-repeat="t in content.billList"> 
			<td> {{t.item}} </td>
			<td> {{t.expense | currencyWithMinus}} </td>
		</tr>

		<tr ng-repeat="t in content.addedbills"> 
			<td> {{t.item}} </td>
			<td> {{t.expense | currencyWithMinus}} </td>
		</tr>
	</tbody>
</table>

<button ng-click="test()">test</button>