<table class="table table-condensed table-bordered" ng-controller="billController">
	<thead>
		<tr>
			<th> {{ 'billTable.item' | translate}} </th>
			<th> {{ 'billTable.expense' | translate}} </th>
		</tr>

		<tr>
			<th> {{ 'billTable.payLastMonth' | translate}}</th>
			<th> {{ getPayLastMonth() | currencyWithMinus}} </th>
		</tr>

		<tr>
			
			<th> {{'billTable.totalBill' | translate}} </th>
			
			<th ng-if="totalBill() <= 0"><font color="red"> {{ totalBill() | currencyWithMinus}} </th>
			<th ng-if="totalBill() > 0"><font color="green"> {{ totalBill() | currencyWithMinus}} </th>
		</tr>

	</thead>
	<tbody>
		<tr ng-if = "content.addedbills.length > 0" ng-repeat="t in content.addedbills"> 
			<td ng-show ="t.expense != 0"> {{t.item}} </td>
			<td ng-show ="t.expense != 0"> {{t.expense | currencyWithMinus}} </td>
		</tr>
	</tbody>
</table>