<div class ="row">
	<div class="col-md-5">
		<div ng-include="'./views/applianceTable.html'"></div>
	</div>
	<div class="col-md-4">
		<div ng-include="'./views/dailyTaskTable.html'"></div>
		<div ng-include="'./views/optionalTaskTable.html'"></div>
		<div ng-include="'./views/schedularTable.html'"></div>
	</div>
	<div class="col-md-3">
		<div ng-include="'./views/smiley.html'"></div>
		<div ng-include="'./views/scoreArea.html'"></div>
	</div>
</div>
<div class="row">
	<div class="col-md-2">
	<div ng-include="'./views/sun.html'"></div>
	</div>
	<div class="col-md-3">
		<div ng-include="'./views/productTable.html'"></div>
	</div>
	<div class="col-md-4">
		
	</div>
	<div class="col-md-3">
		<div ng-include="'./views/billTable.html'"></div>
	</div>
</div>