<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span></button>
    <h3 class="modal-title">Information Window</h3>
</div>
<div class="modal-body">
    <dl>
        <dt>
            {{'productModal.name'| translation}}
        </dt>
        <dd>
            {{product.name}}
        </dd>
        <dt>
            {{'productModal.price'| translation}}
        </dt>
        <dd>
           <font color="#B22222">{{product.price | currencyWithMinus}} </font>
        </dd>
        <dt>
            {{'productModal.save'| translation}}
        </dt>
        <dd>
           <font color="green"> {{productsProduction | currencyWithMinus}} kr </font>
        </dd>    
        <dt>
            {{'productModal.description'| translation}}
        </dt>
        <dd>
            {{product.description}}
        </dd>
    </dl>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="buy()"> 
            {{"Buy"}}
        </button>
        <button type="button" class="btn" ng-click="cancel()">
            {{"Cancel"}}
        </button>
    </div>  
</div>