<div ng-controller="productTableController">
	<table class ="table table-condensed table-bordered">
		<thead>
			<tr>
				<th>{{"Products"}}</th>
				<th>{{"Buy/upgrade"}}</th>
			<tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in shownProduct">
				<td>
					{{item.product.type}}
				</td>
				<td>
					<button type="button" class="btn btn-info" ng-click="openProductModal(item.product, $index)" ng-show="!item.product.brought || item.hasUpgrade">
						{{"Press"}}
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>