<div class="col-md-8">
<form role="form" name="reguserform" novalidate>
  <div class="form-group">
    <label for="email">{{'regUser.email' | translate}}</label>
    <input type="email" class="form-control" name="email" id="email" required placeholder="{{'regUser.email' | translate}}">
<p class="help-block" ng-if="reguserform.email.$error.required">{{'regUser.errors.emailreq' | translate}}</p>
      <p class="help-block" ng-if="reguserform.email.$dirty && reguserform.email.$error.email">gsag{{'regUser.errors.emailerror' | translate}}</p>
  </div>

  <div class="form-group">
    <label for="username">{{'regUser.username' | translate}}</label>
    <input type="text" class="form-control" id="username" required placeholder="{{'regUser.username' | translate}}">
    <p class="help-block" ng-if="reguserform.username.$error.required">{{'regUser.errors.usernamereq' | translate}}</p>
  </div>
    
  <div class="form-group">
    <label for="password">{{'regUser.pass' | translate}}</label>
    <input type="password" class="form-control" id="password" required placeholder="{{'regUser.pass' | translate}}">
    <p class="help-block" ng-if="reguserform.password.$error.required">{{'regUser.errors.passwordreq' | translate}}</p>
  </div>

  <button type="submit" class="btn btn-default">{{'regUser.submit' | translate}}</button>
</form>
</div>
 <form name="frmRegister" ng-submit="register();" novalidate>
      <div>
        <input placeholder="First Name" name="first_name" type="text" ng-model="user.firstName" required />
        <span ng-show="frmRegister.first_name.$dirty && frmRegister.first_name.$error.required">First Name is required</span>
      </div>
      <div>
        <input placeholder="Email" name="email" type="email" ng-model="user.email" required />
        <span ng-show="frmRegister.email.$dirty && frmRegister.email.$error.required">{{'regUser.errors.emailreq' | translate}}</span>
        <span ng-show="frmRegister.email.$dirty && frmRegister.email.$error.email">{{'regUser.errors.emailerror' | translate}}</span>
      </div>
      <input type="submit" value="Save" />
      <span ng-show="registered">YOU ARE NOW REGISTERED USER</span>
 </form>

