<div ng-controller="statusController">
    <canvas id="face" width="150" bezier="0" height="150" >
    </canvas>
    <br/>
    <h4>{{'scorearea.score' | translate}}: <small>{{score}} {{'scorearea.points' | translate}}</small></h4>
    <h4>{{'scorearea.balance' | translate}}: <small>{{balance | currency}}</small></h4>
    <label for="dishes">{{'scorearea.dishes' | translate}}</label>
    <progress animate="false" max="100" id="dishes">
        <bar value="dishes" type="success"><b ng-show="dishes >= 50">{{dishes | number:0}}%</b></bar>
        <bar value="100-dishes" type="danger"><b ng-show="dishes < 50">{{dishes | number:0}}%</b></bar>
    </progress>
    <label for="laundry">{{'scorearea.laundry' | translate}}</label>
    <progress animate="false" max="100" id="laundry">
        <bar value="laundry" type="success"><b ng-show="laundry >= 50">{{laundry | number:0}}%</b></bar>
        <bar value="100-laundry" type="danger"><b ng-show="laundry < 50">{{laundry | number:0}}%</b></bar>
    </progress>
    <label for="hygiene">{{'scorearea.hygiene' | translate}}</label>
    <progress animate="false" max="100" id="hygiene">
        <bar value="hygiene" type="success"><b ng-show="hygiene >= 50">{{hygiene | number:0}}%</b></bar>
        <bar value="100-hygiene" type="danger"><b ng-show="hygiene < 50">{{hygiene | number:0}}%</b></bar>
    </progress>
    <label for="carBattery">{{'scorearea.carBattery' | translate}}</label>
    <progress animate="false" max="100" id="carBattery">
        <bar value="carBattery" type="success"><b ng-show="carBattery >= 50">{{carBattery | number:0}}%</b></bar>
        <bar value="100-carBattery" type="danger"><b ng-show="carBattery < 50">{{carBattery | number:0}}%</b></bar>
    </progress>
</div>