<table class="table table-condensed table-bordered" ng-controller="taskTableController2">
	<thead>
		<tr>
			<th> {{'textToPriceTable.category' | translate}} </th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in content.dailyTasks"> 
			<td> {{item.task}} </td>
		</tr>
	</tbody>
</table>

<table class="table table-condensed table-bordered" ng-controller="taskTableController2">
	<thead>
		<tr>
			<th> {{'textToPriceTable.category' | translate}} </th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in content.optimalTasks"> 
			<td> {{item.task}} </td>
		</tr>
	</tbody>
</table>