<div ng-controller="taskTableController">
	<table class ="table table-condensed table-bordered">
		<thead>
			<tr>
				<th>{{'tasktable.items' | translate}}</th>
				<th>{{'ACTIVATE' | translate}}</th>
				<th>{{'tasktable.time | translate'}}</th>
			<tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in tableActionContent">
				<td>
					{{item.name}}
				</td>
				<td>
					<button type="button" class="btn btn-primary" ng-click="open(item.name)">
						{{'PRESS' | translate}}
					</button>
					<span>
						<button type="button" class="btn btn-primary" ng-click="item.countDown()">
						{{"Test"}}
					</button>
					</span>
				</td>
				<td>
					<div ng-controller="timeController">
						<timer> </timer>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>