 <!--ng-table="tableParams" -->

<table class="table table-condensed table-bordered" ng-controller="taskTableController2">
	<thead>
		<tr>
			<th> {{'TrueTaskTable.dailyTasks' | translate}} </th>
			<th> {{'TrueTaskTable.doneq' | translate}} </th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in content.dailyTasks"> 
			<td> {{item.task}} </td>
			<td ng-if="item.done"> <img src="./views/pics/okSign.png" style="width:30px;height:25px"> </td>
			<td ng-if="!item.done"></td>
		</tr>
	</tbody>
</table>

<table class="table table-condensed table-bordered" ng-controller="taskTableController2">
	<thead>
		<tr>
			<th> {{'TrueTaskTable.optimalTasks' | translate}} </th>
			<th> {{'TrueTaskTable.doneq' | translate}} </th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in content.optimalTasks"> 
			<td> {{item.task}} </td>
			<td ng-if="item.done"> <img src="./views/pics/okSign.png" style="width:30px;height:25px"></td>
			<td ng-if="!item.done"> </td>
		</tr>
	</tbody>
</table>